* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 60%;
    height: 88vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 5fr 1fr;
    gap: 20px;
}

.header-box,
.footer-box {
    grid-column: 1/3;
}

.box.two {
    grid-row: 3/4;
}

.box.three {
    grid-row: 2/4;
    grid-column: 2/3;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
}

.header-box,
.footer-box {
    height: 40px;
    margin-top: 25px;
    background-color: burlywood;
    justify-content: center;
}

.box.one {
    background-color: steelblue;
    padding: 30px;
    color: #fff;
}

.box.two {
    background-color: skyblue;
    padding: 30px;
}

.box.three {
    background-color: lightblue;
    padding: 30px;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.checkbox {
    display: inline;
}

.user-input {
    width: 280px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.product-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 20px;
}

.box.one h1,
.box.two h1 {
    margin-bottom: 30px;
}

.box.three h1 {
    align-self: center;
}

.shipping-total {
    align-self: flex-end;
}

.product-details h2,
p {
    padding: 8px;
}

button {
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: darkcyan;
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
}

.footer-box button {
    color: #fff;
    background-color: burlywood;
    width: 200px;
    font-size: 25px;
    border: none;
}

.product-quantity p {
    font-size: 20px;
}

.product-details p {
    font-size: 20px;
}

.card:hover {
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);
}
img {
    border-radius: 15px;
}